<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
 {{ title }}
  </h1>
</div>
<div style="text-align:center">
<button (click)="addTask()" [disabled] = "disableAddTask">Add Task</button>
<button (click)="saveAll()">Save</button>
<button (click)="completeAllTasks()">Complete Saved Tasks</button>
</div>
<div style="text-align:center">
  <ul>
    <li *ngFor="let ac of toDoList">
      <input [disabled]="ac.isChanged || !ac.label" type="checkbox" style="width:1rem; height:1rem" [(ngModel)] = "ac.isSelected" (onChange)="updateTaskStatus(ac)">
      <input type="text" style="border:none" [(ngModel)] = "ac.label" [disabled] = "ac.isSelected" placeholder="Enter the task"
      (ngModelChange)="taskLabelChanged(ac)">
      <button [disabled] = "!ac.isChanged || !ac.label" (click)="save(ac)">save</button>
      <button (click)="deleteTask(ac)"  >Delete</button>
    </li>
  </ul>
</div>

